@use 'functions';

$color-cyan-600: #4D96A9;
$color-cyan-400: #71C0D4;
$color-cyan-300: #8FE3F9;
$color-purple-600: #855FB1;
$color-purple-400: #B18BDD;
$color-purple-300: #D9B8FF;
$color-slate-900: #28283D;
$color-slate-600: #87879D;
$color-slate-300: #D1D1DF;
$color-white: #FAFAFA;

$space-112px: functions.to-rem(112px);
$space-80px: functions.to-rem(80px);
$space-72px: functions.to-rem(72px);
$space-64px: functions.to-rem(64px);
$space-56px: functions.to-rem(56px);
$space-48px: functions.to-rem(48px);
$space-40px: functions.to-rem(40px);
$space-32px: functions.to-rem(32px);
$space-24px: functions.to-rem(24px);
$space-16px: functions.to-rem(16px);
$space-8px: functions.to-rem(8px);
$space-4px: functions.to-rem(4px);

$radius-29px: functions.to-rem(29px);
$radius-8px: functions.to-rem(8px);
$phone-width: functions.to-rem(600px);
$tablet-width: functions.to-rem(960px);

@mixin tablet-and-up {
  @media (min-width: $phone-width) {
    @content
  }
}

@mixin desktop-and-up {
  @media (min-width: $tablet-width) {
    @content
  }
}

@mixin text-preset-1 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: functions.to-rem(40px);
  line-height: 110%;
  letter-spacing: 0;

  @include tablet-and-up {
    font-size: functions.to-rem(48px);
  }

  @include desktop-and-up {
    font-size: functions.to-rem(64px);
  }
}

@mixin text-preset-2{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: functions.to-rem(32px);
  line-height: 110%;
  letter-spacing: 0;

  @include tablet-and-up {
    font-size: functions.to-rem(36px);
  }

  @include desktop-and-up {
    font-size: functions.to-rem(40px);
  }
}

@mixin text-preset-3{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: functions.to-rem(12px);
  line-height: 110%;
  letter-spacing: functions.to-rem(4px);

  @include tablet-and-up {
    font-size: functions.to-rem(14px);
  }

  @include desktop-and-up {
    font-size: functions.to-rem(16px);
  }
}

@mixin text-preset-4{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: functions.to-rem(16px);
  line-height: 150%;
  letter-spacing: 0;

  @include desktop-and-up {
    font-size: functions.to-rem(18px);
  }
}

@mixin text-preset-5{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: functions.to-rem(16px);
  line-height: 150%;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: 0;
  border-radius: $radius-29px;
  padding: $space-16px $space-40px;
  color: $color-white;
  cursor: pointer;
  transition: background-color 0.5s ease-out;

  @include text-preset-5;
}

h1, h2, p {
  margin: 0;
}

#app {
  padding: $space-48px $space-32px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.buttonBlue {
  background-color: $color-cyan-600;

  &:hover {
    background-color: $color-cyan-400;
  }
}

.buttonPurple {
  background-color: $color-purple-600;

  &:hover {
    background-color: $color-purple-400;
  }
}

.colorCyan300 {
  color: $color-cyan-300;
}

.colorPurple300 {
  color: $color-purple-300;
}

.contentText {
  text-align: center;
  color: $color-slate-600;

  @include text-preset-4;
}

.logo {
  padding: $space-48px $space-80px 0 $space-80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numberCircle {
  border: 1px solid $color-slate-300;
  border-radius: 100%;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-slate-600;

  @include text-preset-5;
}

.numberLine {
  height: 80px;
  width: 1px;
  color: $color-slate-300;
}

.section0 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr fit-content(100%);
}

.section0Left {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.section0Right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.section0Content {
  padding: $space-48px $space-32px $space-32px $space-32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.section0ContentButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $space-16px;
}

.section0ContentTitle {
  text-align: center;
  color: $color-slate-900;

  @include text-preset-1;
}

.section1 {
  padding: $space-32px $space-32px $space-64px $space-32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $space-64px;
}

.section1Wrapper {
  padding: $space-32px $space-32px $space-64px $space-32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: $space-16px;
  row-gap: $space-16px;

  @include tablet-and-up {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.section1Image {
  border-radius: $radius-8px;
}

.section1Image1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  @include tablet-and-up {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}

.section1Image2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

  @include tablet-and-up {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
}

.section1Image3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  @include tablet-and-up {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
}

.section1Image4 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  @include tablet-and-up {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
}

.section1Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $space-32px;
}

.section1ContentHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $space-16px;
}

.section1ContentHeaderSubtitle {
  text-align: center;
  color: $color-slate-600;

  @include text-preset-3;
}

.section1ContentHeaderTitle {
  text-align: center;
  color: $color-slate-900;

  @include text-preset-2;
}

.section2 {
  padding: 0 $space-32px $space-64px $space-32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $space-24px;
  position: relative;
}

.section2BackgroundColor {
  background-color: $color-cyan-600;
  width: 100%;
  top: 108px;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.section2BackgroundImage {
  width: 100%;
  top: 108px;
  position: absolute;
  z-index: 0;
}

.section2Title {
  text-align: center;
  color: $color-white;

  @include text-preset-2;
}

.section2Text {
  text-align: center;
  color: $color-white;

  @include text-preset-4;
}