* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: 0;
  border-radius: 1.8125rem;
  padding: 1rem 2.5rem;
  color: #FAFAFA;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.25rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}

h1, h2, p {
  margin: 0;
}

#app {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: #D1D1DF;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.buttonBlue {
  background-color: #4D96A9;
}
.buttonBlue:hover {
  background-color: #71C0D4;
}

.buttonPurple {
  background-color: #855FB1;
}
.buttonPurple:hover {
  background-color: #B18BDD;
}

.colorCyan300 {
  color: #8FE3F9;
}

.colorPurple300 {
  color: #D9B8FF;
}

.contentText {
  text-align: center;
  color: #87879D;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}
@media (min-width: 60rem) {
  .contentText {
    font-size: 1.125rem;
  }
}

.logo {
  margin-bottom: 4rem;
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numberCircle {
  border: 1px solid #D1D1DF;
  border-radius: 100%;
  background-color: #FAFAFA;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #87879D;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}

.numberLine {
  height: 5rem;
  width: 1px;
  background-color: #D1D1DF;
}

.section0 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr fit-content(100%);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
@media (min-width: 60rem) {
  .section0 {
    grid-template-columns: 1fr 34.375rem 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
  }
}

.section0Left {
  height: 10.5rem;
  width: auto;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  place-self: center;
}
@media (min-width: 37.5rem) {
  .section0Left {
    height: 19.875rem;
  }
}
@media (min-width: 60rem) {
  .section0Left {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
}

.section0Right {
  height: 10.5rem;
  width: auto;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  place-self: center;
}
@media (min-width: 37.5rem) {
  .section0Right {
    height: 19.875rem;
  }
}
@media (min-width: 60rem) {
  .section0Right {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
  }
}

.section0Content {
  padding: 3rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  row-gap: 1.5rem;
}
@media (min-width: 37.5rem) {
  .section0Content {
    padding: 3rem 200px 2rem 200px;
  }
}
@media (min-width: 60rem) {
  .section0Content {
    padding: 2rem 50px;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
}

.section0ContentButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
@media (min-width: 37.5rem) {
  .section0ContentButtons {
    flex-direction: row;
    column-gap: 1rem;
  }
}

.section0ContentTitle {
  padding: 0 1rem;
  text-align: center;
  color: #28283D;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0;
}
@media (min-width: 37.5rem) {
  .section0ContentTitle {
    font-size: 3rem;
  }
}
@media (min-width: 60rem) {
  .section0ContentTitle {
    font-size: 4rem;
  }
}

.section1 {
  padding: 2rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
}
@media (min-width: 37.5rem) {
  .section1 {
    padding: 5rem 0 4rem 0;
  }
}
@media (min-width: 60rem) {
  .section1 {
    padding: 6.75rem 0 4rem 0;
  }
}

.section1Content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
@media (min-width: 37.5rem) {
  .section1Content {
    padding: 0 6.875rem;
  }
}
@media (min-width: 60rem) {
  .section1Content {
    max-width: 45rem;
  }
}

.section1ContentHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.section1ContentHeaderSubtitle {
  text-align: center;
  text-transform: uppercase;
  color: #4D96A9;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
}
@media (min-width: 37.5rem) {
  .section1ContentHeaderSubtitle {
    font-size: 0.875rem;
  }
}
@media (min-width: 60rem) {
  .section1ContentHeaderSubtitle {
    font-size: 1rem;
  }
}

.section1ContentHeaderTitle {
  text-align: center;
  color: #28283D;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0;
}
@media (min-width: 37.5rem) {
  .section1ContentHeaderTitle {
    font-size: 2.25rem;
  }
}
@media (min-width: 60rem) {
  .section1ContentHeaderTitle {
    font-size: 2.5rem;
  }
}
@media (min-width: 60rem) {
  .section1ContentHeaderTitle {
    padding: 0 1.5rem;
  }
}

.section1Wrapper {
  padding: 0 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}
@media (min-width: 37.5rem) {
  .section1Wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
  }
}
@media (min-width: 60rem) {
  .section1Wrapper {
    column-gap: 2rem;
    flex-wrap: nowrap;
  }
}

.section1Image {
  border-radius: 0.5rem;
  height: 9rem;
  width: auto;
  place-self: center;
}
@media (min-width: 60rem) {
  .section1Image {
    height: auto;
    width: 17.8vw;
  }
}

.section1Image1 {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
@media (min-width: 37.5rem) {
  .section1Image1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
}

.section1Image2 {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
@media (min-width: 37.5rem) {
  .section1Image2 {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
}

.section1Image3 {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
@media (min-width: 37.5rem) {
  .section1Image3 {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
  }
}

.section1Image4 {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
@media (min-width: 37.5rem) {
  .section1Image4 {
    grid-column: 4/span 1;
    grid-row: 1/span 1;
  }
}

.section2 {
  padding: 0 2.25rem 2.5rem 2.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  position: relative;
}
@media (min-width: 37.5rem) {
  .section2 {
    padding: 0 6.25rem 1vw 6.25rem;
  }
}
@media (min-width: 60rem) {
  .section2 {
    row-gap: 6.875rem;
  }
}

.section2Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}
@media (min-width: 60rem) {
  .section2Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 6.25rem;
  }
}

.section2BackgroundColor {
  background-color: #4D96A9;
  height: 22.6875rem;
  width: 100%;
  top: 6.75rem;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.section2BackgroundImage {
  height: 22.6875rem;
  width: 100%;
  top: 6.75rem;
  left: 0;
  position: absolute;
  z-index: -2;
  object-fit: cover;
  overflow: hidden;
}
@media (min-width: 37.5rem) {
  .section2BackgroundImage {
    width: 100%;
  }
}

.section2Title {
  text-align: center;
  color: #FAFAFA;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0;
}
@media (min-width: 37.5rem) {
  .section2Title {
    font-size: 2.25rem;
  }
}
@media (min-width: 60rem) {
  .section2Title {
    font-size: 2.5rem;
  }
}

.section2Text {
  text-align: center;
  color: #FAFAFA;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}
@media (min-width: 60rem) {
  .section2Text {
    font-size: 1.125rem;
  }
}
@media (min-width: 60rem) {
  .section2Text {
    padding: 0 1vw;
    max-width: 23.75rem;
    min-width: 18.75rem;
  }
}

@media (min-width: 60rem) {
  .textAlignLeft {
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
